*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.s_main{
	margin-top: 20px;
}
.main_side .box{
	margin-top: 20px;
}

.box_mnu .panel-heading {
	border-bottom: none;
};
.list-group {
	font-family: "OpenSansBold", sans-serif;
}
.list-group {
	margin-left: 10px;
}

.list-group-item {
	
	background-color: rgba(228, 228, 228, 0.8);
	
}
a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {

	border: none;
}
.list-group-item {
	border: none;
}
.content h1{
	border-bottom: #EFEFEF 1px solid;
	margin-top: 5px;
	padding-bottom: 10px;

}
.s_main .row{
	margin-right: 0;
}
.leftside_img img {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	padding: 15px;
}

.s_main .panel-default {
	margin-bottom: 6px;
	margin-left: 10px;
	border: none;
	background-color: rgba(228, 228, 228, 0.8);
}
.slogan_bottom {
	border-top: #d6d6d6 2px solid;
	padding-top: 20px;
}
.main_footer{
	padding: 5px 30px;
}
.slogan {
	text-align: center;
	display: block;
	font-family: "Exo2Bold", OpenSansBold;
	color: #555;
	font-size: 22px;
}
.phone_bottom{
	padding-left: 25px;
}
.carousel-inner .h1 {
	font-size: 30px;
}
.carousel-caption p{
	font-size: 18px;
}
a.list-group-item:active {
	color: #fff;
	background-color: rgba(103,194,239,1);
}
.list-group>.active {
	color: #fff;
	background-color: rgba(103,194,239,1);
}
.rightimg img{
	position: relative;
	width: 100%;
	height: 100%;
}


