/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	h1, .h1 {
		font-size: 20px;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-right: 0; 
	}
	.carousel .item {
		height: 400px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.nav {
		padding-left: 10px;
	}
	.nav>li>a {
		padding: 15px 10px;
	}
	.phone_top {

		right: 0;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.navbar-brand > img {
		float: left;
		padding-left: 25px;
		z-index: 100000;
	}
	.phone_top {
		padding-left: 12px;
		top: 0;
		text-align: center;
	}
	.navbar-collapse {
		width: 100%;
		background-color:  rgba(255, 255, 255, 0.94);
		position: fixed;
		z-index: 1000;
	}
	.navbar-default .navbar-nav > li > a {
		color: #151414;
		border-bottom: #d6d6d6 1px solid;
	}

	.navbar-collapse.in {
		overflow-y: hidden;
	}
	.nav>li>a {
		padding: 10px 10px;
	}
	.list-group .list-group-item {
		text-align: center;
	}
	.box{
		margin-left: 0x;
	}
	.s_main .content h1 {

		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
	}
	.leftside_img img {
		display: none;
	}
	article{
		margin-left: 12px;
	}

	.phone_bottom {
		padding-left: 0;
		display: block;
		margin-top: 5px;
	}
	.nav {
		padding-left: 40px;
		padding-right: 40px;
		text-align: center;
	}
	
	
	.slide_img {
		position: relative;
		height: inherit;
	}
	.rightimg{
		height: 180px;
	}
	.rightimg img {

		width: inherit;

	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-right: 10px; 
	}
	.col768{
		float: right;
		padding-right: 0;
		padding-left: 10px;
	}
	.navbar-toggle {
		right: 1%;
		position: fixed;
		z-index: 10000;
		background-color: #fff;
	}
}


@media only screen and (max-width : 550px) {

	.phone_bottom {
		padding-left: 0;
		display: block;
		margin-top: 5px;
	}




}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.slogan2{
		display: block;
		padding-top: 5px;
	}

	.carousel-inner .h1 {
		font-size: 25px;
	}
	.carousel .item {
		height: 300px;
	}
	.carousel-caption {
		bottom: 5%;
	}
	.inviz480{
		display: none;
	}
	.col768{
		float: none;
	}
	.rightimg img {
		margin: auto;
    display: block;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-collapse {
		padding-top: 0;
	}
	.phone_top {
		padding-left: 0;
		top: 12px;
	}
	.nav>li>a {
		padding: 15px 10px;
	}
	.rightimg img {
		width: 100%;
	}
	.rightimg {
		height: inherit;
	}
	.col768{
		float: left;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-right: 0;
	}


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.nav>li>a {
		padding: 15px 20px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	article{

		font-size: 18px;
	}

}
